*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

html, body { height: 100%;}


@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('proximanova-regular-webfont.eot');
    src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ninesixty {
	width:960px;
	margin:0px auto;
/*	border:1px dotted green;*/
}

.intro {
width:100%;
height:200px;
/*margin-top: 40px;*/
margin:0px auto;
}

.intro img {
	display:block;
	margin:0px auto;
/*	border:1px dotted red;*/
}

.vert-center-container {
	position:absolute;
	top:10%;
}


.intro h2 {
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
	text-align: center;
	color:#fff;
}

.ninesixty h1 {
	text-transform: uppercase;
}

#content{
	width:100%;
/*	border:3px solid blue;*/
	margin-top:80px;
}

/*///////////CIRCLE MENU HOVERS///////////////*/

.main-menu-item {
	text-align: center;
	color: #fff;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0px 0px 16px rgba(255,255,255,0.6), 0 0px 0px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 
    	inset 0 0px 0px 16px rgba(255,255,255,0.6), 0 0px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 
    	inset 0 0px 0px 16px rgba(255,255,255,0.6), 0 0px 0px 0px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}

/*The item will animate its box shadow’s spread radius from 16px to 1px:*/

.main-menu-item:hover {
	-moz-box-shadow:
		inset 0 0px 0px 16px rgba(255,255,255,0.6), 0 0px 0px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 
		inset 0 0px 0px 16px rgba(255,255,255,0.6), 0 0px 0px 0px rgba(0,0,0,0.1);
    box-shadow: 
    	inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1);
}

/*The rollover will fade in and scale up to 1:*/

.main-menu-item:hover .menu-info {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}


.menu-img1 {
    background-image: url(../images/img1.svg);
}

.menu-img2 {
    background-image: url(../images/img2.svg);
}

.menu-img3 {
    background-image: url(../images/img3.svg);
}

.menu-info {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
}

.menu-info a img{  
    margin-top: 15px;
}



/*//////////COLOURS////////////*/

.blue {
	background: rgba(44,62,80, 1);
}

.coral {
	background: rgba(255,104,93, 1);
}

.teal {
	background: rgba(22,136,133, 1);
}

.burntorange {
	background: rgba(246,135,31, 0.9);
}

.navy {
	background: rgba(37,50,67, 0.8);
}


/*///////////////HEADER//////////////////*/

.header {
	background-color: #000;
	height:12%;
	width:100%;
	padding:5px;
	margin:0px auto;
}

/*///////////////LOGO//////////////////*/

.h1 {
	display:block;
	width:300px;
	height:105px;
	margin-top: 10px;
	margin-bottom:10px;
	margin-left: 40px;
/*	border:1px solid red;*/
	background:url("../images/logo2.svg") no-repeat;
/*	margin-right: 20px;*/
}



/*///////THIS ISN'T WORKING!!!!!!///////*/

.tagline {
	display:block;
	width:200px;
	float:right;
	font-size: 16px;
	color:white;
	margin-left:300px;
	text-align: left;
	padding-left: 30px;
	vertical-align: center;
/*	border:1px solid red;*/
}


/*///////THEME MENU/////////////////*/

#theme-menu {
	padding-top: 30px;
	width:960px;
	margin:0px auto;
	height:100%;
	/*border:1px green dotted;*/
}

.theme-menu-image {
	display: inline-block;
/*	border:1px solid red;*/
	margin:0px;
	width:319px;
	height:320px;
	text-align: center;
}

#theme-menu .theme-menu-image a img {
	margin-left:auto;
	margin-right:auto;
}

#theme-menu .theme-menu-image a {
	transition: all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
}


/*//////////STICKY NAV//////////*/

#navigation {
	width:100%;
	height:80px;
	position: fixed;
	left:0px;
	top:0px;
	background-color: black; 
	z-index: 9999;
	display:none;
/*	border:1px solid red;*/
}

#sticky-menu {
	position:relative;
	height:40px;
	width:960px;
	margin:20px auto;
/*	border:1px solid red;*/
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: black;
}

#sticky-menu li {
	display: inline-block;
	margin-right:65px;
	text-transform: uppercase;
	float:left;
}

#sticky-menu li a {
	text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-out;
    position: relative;
/*    padding: .5em;
/*    margin: -.5em;*/
/*    border:1px solid blue;*/
}

#sticky-menu li a:hover {
	color: #ff685d;
	text-decoration: none;
}

/*///SECTIONS///*/

#icon-menu {
	padding-bottom:2%;
}

#meat {
	height:700px;
	width:100%;
	background-color: #f5957f;
}

#seafood {
	height:700px;
	width:100%;
	background-color: #5c9dbd;
}

#dairy {
	height:700px;
	width:100%;
	background-color:#a9e3d4;
}

#eggs {
	height:700px;
	width:100%;
	background-color: #f5b97a;
}

#gmo {
	height:700px;
	width:100%;
	background-color: #a9e39d;
}

#additives {
	height:800px;
	width:100%;
	padding-bottom: 80px;
	background-color: #ffe384;
}

/*/////////INSIDE PANELS/////////*/

.box-left {
	margin-top:40px;
	width:45%;
	height:500px;
	float:left;
	overflow: auto;
	/*	border:1px solid red;*/
}

.box-left p {
	color:black;
}

/*.box-right {
	margin-top:40px;
	width:45%;
	height:500px;
	border:1px solid red;
	float:right;
}*/

/*.box-right img {
	display:block;
	vertical-align:middle;
}*/

.box-right {
	float:right;
	padding-top:60px;
    text-align: center;
    vertical-align: middle;
    width: 45%;
    height: 500px;
}

.box-right * {
    vertical-align: middle;
}

/*\*//*/
.box-right {
    display: block;
}
.box-right span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/

<!--[if lt IE 8]>
.box-right span {
    display: inline-block;
    height: 100%;
}
/*////////////////////*/




/*//////////////FOOTER///////////////*/

footer {
	width:100%;
	height:60px;
	position: fixed;
	left:0px;
	bottom:0px;
	background-color: black;
	z-index: 9999;
/*	border:1px solid red;*/
}

#footer-menu {
	position:relative;
	height:60px;
	margin:0px auto;
/*	border:1px solid red;*/
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.footer-menu-item {
	position:relative;
	height:80px;
	width:150px;
	margin-top:-20px;
	border-radius: 12px;
	background-color: #000;
	float:left;
	margin-right: 2px;
}

.footer-menu-item a {
	display:block;
	position:relative;
	width:150px;
	margin:0 auto;
	text-transform: uppercase;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-out;
/*	border:1px solid blue;*/
}

.footer-menu-item a:hover {
	color: #ff685d;
	text-decoration: none;
}

#footer-menu p {
	color:white;
	margin-top:20px;
	line-height: 30px;
}

/*////////////POP UPS/////////////////*/

#about {
	display:none;
	position:absolute;
	border-radius: 12px;
	left:0px;
	bottom:90px;
	width:450px;
	height:350px;
	padding:20px;
	background-color: black;
}

#share {
	display:none;
	position:absolute;
	border-radius: 12px;
	left:152px;
	bottom:60px;
	width:150px;
	height:350px;
	background-color: black;
}

#contribute {
	display:none;
	position:absolute;
	border-radius: 12px;
	left:0px;
	bottom:90px;
	width:450px;
	height:350px;
	padding:20px;
	background-color: black;
}

.field {
	width:410px;
	height:40px;
	font-size: 14px;
	line-height: 18px;
	color:black;
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
	padding:10px;
}

.message {
	width:410px;
	font-size: 14px;
	line-height: 18px;
	color:black;
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
	padding:10px;
}

.submit {
	width:410px;
	color:#fff;
	font-size:14px;
	line-height: 28px;
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding:10px 180px;
	background-color: rgba(255,104,93, 1);
	border-radius: 10px;
	border:none;
	transition: all 0.7s ease-out;
}

.submit:hover {
	color:#fff;
	background-color: rgba(255,126,115, 1);
}




