.cbp-fwslider {
	position: relative;
/*	margin: 0 0 0px;*/
	overflow: hidden;
	padding: 40px 0 60px;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
/*	white-space: nowrap;*/
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider h1 {
	text-align: center;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
/*	padding-top: 50px;*/
	margin: 0 auto;
	max-width: 75%;
}

.cbp-fwslider nav span {
	position: absolute;
/*	height:100px;
	width:100px;*/
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
	top: 50%;
	color: #fff;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
    transition: all 0.3s ease-out;
}


.cbp-fwslider nav span:hover {
opacity:1;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 20px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 20px;
}
